
  /* ************
                  Myntra Clone Styling code
                  By "Shubham Desale"
                its only css based clone  ****************8 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
 .navbar{
    height: 80px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #716d6d;
 }
 .navbar img{
    height: 45px;
 }
 .navbar .menu {
     min-width: 500px;
     display: flex;
     justify-content: space-between;
 }
 .menu a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
    transition: all .4s;
 }
 .menu a:hover{
    border-bottom: 5px solid #f54e77;
 }
 .menu a sup{
    color: #ff3f6c;
    font-size: 10px;
 }
 .search{
    min-width:200px;
    width: 30%;
    height: 40px;
    display:flex ;
   align-items: center;
 }
 .icon{
    box-sizing: content-box;
    background-color:#f5f5f6 ;
    height: 20px;
    padding: 10px;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
 }
  .search-bar{ 
    background-color:#f5f5f6;
    color: #696e79;
    flex-grow:1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    
 }
 .actions{
    display: flex;
    min-width: 200px;
    justify-content: space-between;
 }
 .actions > .action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
 }


 /* ******Banner Image******** */

 .banner{
   margin: 40px 0;
 }

 .banner img{
   width: 100%;
 }


 /* ***** categories Items***** */
  .offer-heading,.categoies-Heading{
    text-transform: uppercase;
    color: #3e4152;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 1.8em;
  }
 .categories{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }
 .categories img{
   width: 250px;
   border-radius: 15px;
   transition: all ease-in-out .4s;
   /* overflow: hidden; */
 }
 .categories img:hover{
   scale: 1.05;
   overflow: hidden;
 }



 /* ****** offerItem ********** */

 .offer-heading h1{
   margin: 40px 0;
 }
 .offerItem{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

 }
 .offerItem img{
   width: 245px;
   transition: all ease-in-out .4s;
}
.offerItem img:hover{
 scale: 1.05;
 overflow: hidden;
}

footer{
  background: #fafbfc;
  padding: 30px 0px 40px 0px;
  display:flex ;
  justify-content: space-evenly;
}
.footer-column{
  display: flex;
  flex-direction: column;

}
.footer-column h3{
  font-weight: 700;
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}
.footer-column a{
  color: #696b79;
  text-decoration: none;
  font-size: 15px;
  padding-bottom:5px ;
}
.copyright{
  color: #94969f;
  text-align: end;
  padding: 15px;
}




@media only screen and (max-width:668px) {
  .search{
    display: none;
  }
  .actions{
    display: none;
  }
  .logo{
    margin-left: 170px;
  }
  .navbar{
    overflow: hidden;
  }
  .offer-heading,.categoies-Heading{
    font-size: 1em;
  }
  
}